
html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: 8px solid #333;
  }
  
  header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .header {
    background: #E0E0E0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .imglogo {
    margin-left: 20px;
  }
  
  .menu {
    margin-right: 18px;
  }
  
  .titulo {
    font-size: 20px;
    font-weight: bold;
  }
  
  
  .nav_menu {
    display: none;
    width: 339px;
    height: 100%;
    background: #333;
    position: fixed;
    transition: all 0.5s;
    top: 0%;
  }
  
  .nav_menu li:nth-child(1) {
    margin: 0px;
  }
  
  .nav_menu a {
    text-align: end;
    text-decoration: none;
    color: #fff;
    width: 100%;
    padding: 7px 20px 7px 0px;
    font-size: 16px;
    line-height: 19px;
    display: block;
  }
  
  .nav_menu li {
    list-style: none;
    margin-bottom: 12px;
    vertical-align: middle;
  }
  
  .nav_menu a:hover {
    color: #333333;
    background: #C4C4C4;
    font-weight: 600;
  }
  
  .nav_menu ul {
    position: relative;
    top: 20px;
    margin-right: 20px;
    padding: 0px;
  }
  
  .nav_menu_img {
    margin-left: 20px;
    margin-bottom: 26px;
  }
  
  input[type="checkbox"] {
    display: none;
    
  }
  
  input[type="checkbox"]:checked ~ .nav_menu {
    display: block;
    transform: translateX(-295px);
    
  } 
    
  .secao {
    width: 100%;
    height: auto;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .secao_texto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
  }
  
  .secao_entrada {
    display: flex;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  #selecao {
    width: 100%;
    padding-left: 7px;
  }
  
  .secao_botao {
    display: flex;
    justify-content: center;
    width: 90%;
    border-bottom: 1px solid #000;
    padding-bottom: 28px;
  }
  
  .secao #selecao {
    width: 100%;
    margin-left: 0px;
    background: none;
  }
  
  #mercadoria,
  #valor {
    width: 100%;
    padding-left: 10px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 32px;
    background: #333;
    color: white;
    border-radius: 4px;
  }
  
    
  .secao_2 {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .secao_2_titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 41px;
  }
  
   
  .tabela {
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    padding: 6px 0px;
    border-bottom: 1px solid #000;
  }
  
  .tabela_titulo {
    font-weight: bold;
    margin: 0px 25px;
  }
  
  .tabela_corpo {
    display: flex;
    justify-content: flex-start;
    height: auto;
  }
  
  .tabela_corpo:nth-child(1) {
    margin: 0px 10px;
  }
  
  .tabela_corpo:nth-child(2) {
    width: 68%;
  }
  
  .tabela_corpo:nth-child(3) {
    width: 26.5%;
    margin-right: 10px;
    justify-content: flex-end;
  }
  
  .tabela:nth-child(6) {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    padding-bottom: 0px;
    border-top: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
    flex-wrap: wrap;
  }
  
  .tabela_rodape:nth-child(1) {
    margin-left: 26px;
  }
  
  .tabela_rodape:nth-child(2) {
    margin-right: 10px;
  }
  
  .tabela_rodape:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
    height: 18px;
    font-size: 10px;
    align-items: flex-end;
  }
  
  /* Media Querie (tablet) */
  
  @media screen and (min-width: 768px) {
  
    .container_total {
      margin-top: 20px;
    }
  
     
    .nav_menu {
      width: 252px;
    }
  
    
    .secao {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: center;
      border: 1px solid #979797;
      width: 90%;
      margin: auto;
    }
  
    .secao::before {
      content: "Nova transação";
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      font-size: 18px;
      margin: 20px 0px;
      font-weight: bold;
    }
  
    .secao_texto:nth-child(1),
    .secao_texto:nth-child(3) {
      width: 19.5%;
      height: 54px;
    }
  
    .secao_entrada {
      margin: 0px;
    }
  
    .secao_texto:nth-child(2) {
      width: 45.4%;
      height: 54px;
      margin: 0px 20px;
    }
  
    .secao_botao {
      width: 90%;
      margin-top: 20px;
      padding-bottom: 20px;
      border:none;
      justify-content: flex-end;
    }
  
    .button {
      width: 200px;
    }
  
    .button:hover {
      cursor: pointer;
    }
  
    .secao_2 {
      margin-bottom: 427px;
    }
    
    .tabela_rodape:nth-child(1) {
      margin-left: 40px;
    }
  
  }
  
  /* Media Querie (Desktop) */
  
  @media screen and (min-width: 1112px) {
  
    .header {
      height: 80px;
      margin-bottom: 20px;
      justify-content: center;
    }
  
    .titulo {
      width: 411px;
      height: 43px;
      margin-left: 20px;
      margin-right: 249px;
      display: flex;
      align-items: center;
    }
  
    .nav_menu_rotulo {
      display: none;
    }
  
    .header .nav_menu {
      width: 350px;
      height: 40px;
      background: #FFF;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: unset;
      align-items: center;
      justify-content: center;
    }
  
    .nav_menu ul {
      display: flex;
      position: unset;
      margin: 0px;
      top: 0px;
      padding: 0px;
    }
  
    .nav_menu a {
      padding: 0px;
      color: #333333;
      font-weight: bold;
    }
  
    .nav_menu a:hover {
      cursor: pointer;
      background: none;
    }
  
    .linkcadastro::after {
      content: "|";
      margin: 0px 20px;
    }
  
  
    .nav_menu li {
      margin: 0px;
    }
  
    .header_img {
      margin-left: 20px;
    }
  
    .container_total {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      flex-direction: row;
    }
  
    .secao {
      width: 400px;
      height: 344px;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
      margin-right: 20px;
    }
  
    .secao::before {
      margin-bottom: 20px;
    }
  
    .secao .secao_texto,
    .secao_entrada {
      width: 370px;
    }
  
    .secao .secao_texto {
      margin: 0px 0px 20px 0px;
    }
  
    .secao_botao {
      padding: 0px;
      margin: 0px;
    }
  
    .button {
      width: 370px;
    }
  
      
    .secao_2 {
      width: 652px;
      height: 281px;
      margin: 0px;
      justify-content: center;
    }
  
    .secao_2_titulo {
      margin: 0px;
    }
  }