body {
    position: relative;
    width: 1500px;
    height: 1000px;
    
    background: #FFFFFF;
}

#container {
    position: absolute;
width: 1500px;
height: 80px;
left: 0px;
top: 0px;

background: #E0E0E0;
}

.container-topo {
    position: absolute;
width: 1100px;
height: 79px;
left: 200px;
top: 0px;
}

.menu-horizontal {
    position: absolute;
width: 350px;
height: 40px;
right: 0px;
top: 20px;

background: #FFFFFF;
}

.line {
    position: absolute;
width: 20px;
height: 0px;
left: 117px;
top: 50%;

border: 1px solid #979797;
transform: rotate(90deg);
}

.dados {
    position: absolute;
width: 100px;
height: 32px;
left: 17px;
top: 4px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #333333;
}
.cadastro {
    position: absolute;
width: 165px;
height: 32px;
left: 147px;
top: 4px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: #333333;
}

.logoEtexto {
    position: absolute;
width: 471px;
height: 43px;
left: 0px;
top: 19px;
}

.texto-logo {
    position: absolute;
width: 411px;
height: 43px;
left: 60px;
top: 19px;

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #333333;

}

.img-logo {
    position: absolute;
width: 40px;
height: 36.84px;
left: 0px;
top: 22px;

}

.alignsection {
    position: absolute;
width: 1100px;
height: 755px;
left: 200px;
top: 79px;
}

.rectangle {
    position: absolute;
    width: 400px;
    height: 344px;
    left: 0px;
    top: 31px;
    box-sizing: border-box;

position: absolute;
width: 400px;
height: 344px;
left: 179px;
top: 125px;

background: #FFFFFF;
border: 1px solid #979797;
border-radius: 4px;
    
}

.inputvalor {
    position: absolute;
left: 3.72%;
right: 3.72%;
top: 62.5%;
bottom: 21.51%;
}

.valor {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60.78%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #333333;
}

.textvalor{
    position: absolute;
    width: 358px;
    height: 22px;
    left: 0px;
    top: 29px;
    
      
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
       
    display: flex;
    align-items: center;
    
    color: #888888;
}


.mercadoria {
    position: absolute;
left: 3.72%;
right: 3.72%;
top: 40.12%;
bottom: 43.31%;
}

.mercadoria label {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 60.78%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #333333;
}

.mercinput {
    position: absolute;
width: 97%;
height: 22px;
left: 0px;
top: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

display: flex;
align-items: center;

color: #888888;
}

.retanguloinput {
    box-sizing: border-box;

position: absolute;
height: 32px;
left: 0px;
right: 0.2px;
top: 24px;

background: #FFFFFF;
border: 1px solid #979797;
border-radius: 4px;
}

.titulo1 {
    position: absolute;
width: 174px;
height: 20px;
left: calc(50% - 174px/2);
top: calc(50% - 20px/2 - 142px);

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;

text-align: center;

color: #000000;
}

.tipotransação {
    position: absolute;
left: 3.72%;
right: 3.72%;
top: 17.73%;
bottom: 65.7%;
}

.tipotransação label {
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 61.01%;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #333333;
}

#sale {
    box-sizing: border-box;
    position: absolute;
    height: 32px;
    left: 0%;
    right: 0%;
    top: 25px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 4px;
}

.segundaseção {
    position: absolute;
    width: 548px;
    height: 281px;
    left: 658px;
    top: 125px;
    background: #FFFFFF
}

.titulo2 {
    position: absolute;
width: 174px;
height: 20px;
left: 239px;
top: 21px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* or 122% */


color: #000000;
}

.insideseção {
    
width: 681px;
height: 346px;
left: 562px;
top: 60px;
}

.valor2 {
    position: absolute;
width: 33px;
height: 22px;
left: 627px;
top: 112px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #000000;
}

.v12999 {
    position: absolute;
width: 98px;
height: 41.83px;
left: 562px;
top: 149px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: right;

color: #000000;
}

.v99 {
    position: absolute;
width: 98px;
height: 18px;
left: 562px;
top: 199px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: right;

color: #000000;

}

.v999 {
    position: absolute;
width: 98px;
height: 18px;
left: 562px;
top: 235px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: right;

color: #000000;

}

.v12909 {
    position: absolute;
width: 98px;
height: 18px;
left: 562px;
top: 269px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: right;

color: #000000;
}

.lucro {
    position: absolute;
width: 98px;
height: 18px;
left: 562px;
top: 288px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 22px;
/* or 220% */

text-align: right;

color: #000000;
}

.left-content {
    position: absolute;
width: 251px;
height: 169px;
left: 20px;
top: 60px;

}

.mercadoria1 {
    position: absolute;
width: 72px;
height: 22px;
left: 40px;
top: 60px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #000000;
}

.lorem {
    position: absolute;
width: 231px;
height: 34px;
left: 40px;
top: 89px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */


color: #000000;
}

.quis {
    position: absolute;
width: 231px;
height: 18px;
left: 40px;
top: 138px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */


color: #000000;
}

.ipsum {
    position: absolute;
width: 231px;
height: 18px;
left: 40px;
top: 171px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* or 114% */


color: #000000;

}

.total {
    position: absolute;
width: 72px;
height: 18px;
left: 40px;
top: 211px;

font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
/* or 114% */


color: #000000;
}



footer {
    position: absolute;
width: 1500px;
height: 8px;
left: 0px;
top: 992px;

background: #333333;
}