body {
    font-family: lato;
}

.body .statusbar {
    position: absolute;
height: 24px;
left: 0px;
right: 0px;
top: 0px;
}


background: #000000;

.body #container {
    position: absolute;
width: 411px;
height: 60px;
left: 0px;
top: 24px;

background: #E0E0E0;
}

.body .transaction form {
    position: absolute;
width: 371px;
height: 290px;
left: 20px;
top: 110px;
}

.body .line {
    position: absolute;
width: 371px;
height: 0px;
left: 0px;
top: 290px;

border: 1px solid #979797;
}

.body .transaction form .adicionar {
    box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #333333;
border-radius: 4px;
}
